/* Project CSS File */

/*================== CSS Reset =======================*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*=====================================================*/

@font-face {
    font-family: 'ChunkFiveRegular';
    src: url('../font/Chunkfive-webfont.eot');
    src: url('../font/Chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Chunkfive-webfont.woff') format('woff'),
         url('../font/Chunkfive-webfont.ttf') format('truetype'),
         url('../font/Chunkfive-webfont.svg#ChunkFiveRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RopaSansRegular';
    src: url('../font/RopaSans-Regular-webfont.eot');
    src: url('../font/RopaSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/RopaSans-Regular-webfont.woff') format('woff'),
         url('../font/RopaSans-Regular-webfont.ttf') format('truetype'),
         url('../font/RopaSans-Regular-webfont.svg#RopaSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Share-Regular';
    src: url('../font/Share-Regular-webfont.eot');
    src: url('../font/Share-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Share-Regular-webfont.woff') format('woff'),
         url('../font/Share-Regular-webfont.ttf') format('truetype'),
         url('../font/Share-Regular-webfont.svg#Share-Regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.clearfix {
	clear: both;
}

a img {
	border: none;
}

body {
	background: url('../images/bg.png') repeat-x;
	font: 1em/1.25 'RopaSansRegular', Arial, Helvetica, sans-serif;
	color: #333;
	width: 100%;
	margin: 0;
}

.content_seperator {
	height: 20px;
	background: url('../images/line-shadow-960.png') no-repeat;
	margin-top: 20px;

	
}

.content_seperator p{
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.wrapper {
	max-width: 960px;
	padding: 0 3.125%; /*(30/960px)*/
	margin: 0 auto;
}

.content, .container {
	width: 100%;
	margin-top: 25px;
}


header {
	height: 75px;
	width: 100%;
}

#logo_container {
	width: 19.2307692%; /*175/910*/
	margin-top: 10px;
	float: left;
}

#logo img{
	max-width: 100%;
}


nav {
	height: 75px;
	float: right;
	width: 74%; /*735px/910px*/
	text-transform: uppercase;
}


nav ul li {
	display: block;
	float: left;
	list-style: none;
	font: 1.2em/1.5 'Share-Regular', 'Share', Arial;
	margin-top: 25px;
	margin-left: 2.7210884%; /*20/735px*/
	text-shadow: 1px 1px 0px #999;
	opacity: .85;
	padding: 0px;
	 -webkit-transition: all 0.2s linear;
 	 -moz-transition: all 0.2s linear;
 	 -o-transition: all 0.2s linear;
 	 transition: all  0.2s linear;
}

nav ul li:hover {
	opacity: 1;
	text-decoration: none;
	border-top: none;
}


nav li a:link {
	margin: 0 10px;
	padding-top: 2px;
	color: #fff;
	border-top: 1px groove rgba(255,255,255,.5);
	text-decoration: none;
}

nav li a:visited {
	color: #fff;
	margin: 0 10px;
	padding-top: 2px;
	color: #fff;
	border-top: 1px groove rgba(255,255,255,.5);
	text-decoration: none;
}

nav li a:hover {
	color: #000;
	text-decoration: none;
	background: #fbed21;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border-top: none!important;
	padding: 2px 10px;
	margin: 0;
	
}

nav li a.current_page:link, nav li a.current_page:visited {
	color: #fff;
	text-decoration: none;
	background: #0084ff;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border-top: none!important;
	padding: 2px 10px;
	margin: 0;
}	

.contact_number {
	font-weight: bold;
}




/*================================= Page 1 Sub Section 1 ============================================*/
/*section {
	width: 100%;
	overflow: auto;
}*/

.section_seperator {
	width: 100%;
	overflow: auto;
}

.service_subsection {
	width: 36.2637363%; /*330px/910px*/
	height: 250px;
	float: left;
	border-right: 2px groove rgba(0,0,0,.2);
	padding-right: 5px;
	margin-right: 20px;
}



.service_subsection h3 {
	width: 330px;
	font: bold 1.15em 'ChunkFive','ChunkFiveRegular', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	color: #004b91;
	text-shadow: 0px 1px 0px #fff;
}

.service_subsection p{
	width: 310px; /*310px/910px*/
	font: .9em/1.4 Arial, Helvetica, sans-serif;
	letter-spacing: .5px;

}

.sub_section_img_container {
	display: block;
	width: 28.5714286%; /*100px*/
	float: left;
	border-radius: 16px;
	-webkit-border-radius: 16px;
	border: 3px inset #fff;
	box-shadow: 1px 2px 3px rgba(0,0,0,0.7);
	margin: 0px 15px 5px 0px;
}

.service_subsection img {
	max-width: 100%;
	float: left;
	border-radius: 16px;
	-webkit-border-radius: 16px;
	}

#special_offers {
	float: right;
}
	
#special_offers h3 {
	font: bold 1.15em 'ChunkFiveRegular', sans-serif;
	text-transform: uppercase;
	color: #004b91;
	text-shadow: 0px 1px 0px #fff;
}

#special_offers p{
	font: .9em/1.4 Arial, Helvetica, sans-serif;
	letter-spacing: .5px;
	width: 205px;
}

#special_offers a{
	margin-top: 15px;
	display: inline-block;
	height: 20px;
	width: 90px;
	text-align: center;
	text-transform: uppercase;
	padding: 5px 5px 0px 5px;
	font: .75em Arial, Helvetica, sans-serif;
	color: #fff;
	text-shadow: 0px 1px 0px rgba(50,50,50,1);
	border: 1px solid rgba(50,50,50,.5);
	border-radius: 15px;
	text-decoration: none;
	background-color: #329334;
	background-image: linear-gradient(bottom, #20451C 7%, #329334 45%, #5BB1AB 95%);
	background-image: -o-linear-gradient(bottom, #20451C 7%, #329334 45%, #5BB1AB 95%);
	background-image: -moz-linear-gradient(bottom, #20451C 7%, #329334 45%, #5BB1AB 95%);
	background-image: -webkit-linear-gradient(bottom, #20451C 7%, #329334 45%, #5BB1AB 95%);
	background-image: -ms-linear-gradient(bottom, #20451C 7%, #329334 45%, #5BB1AB 95%);

	background-image: -webkit-gradient(
	linear,	left bottom, left top,
	color-stop(0.095, #20451C),
	color-stop(0.45, #329334),
	color-stop(0.77, #5BB1AB));
	}

#special_offers a:hover {
	box-shadow: 0px 0px 4px #20451C;
}

#special_offers a:active {
	text-decoration: none;
	background-image: linear-gradient(top, #20451C 7%, #329334 45%, #5BB1AB 95%);
	background-image: -o-linear-gradient(top, #20451C 7%, #329334 45%, #5BB1AB 95%);
	background-image: -moz-linear-gradient(top, #20451C 7%, #329334 45%, #5BB1AB 95%);
	background-image: -webkit-linear-gradient(top, #20451C 7%, #329334 45%, #5BB1AB 95%);
	background-image: -ms-linear-gradient(top, #20451C 7%, #329334 45%, #5BB1AB 95%);

	background-image: -webkit-gradient(
	linear,	left top, left bottom,
	color-stop(0.095, #20451C),
	color-stop(0.45, #329334),
	color-stop(0.77, #5BB1AB));

	}

/*================================= Page 1 Sub Section 2 ============================================*/

#service_descriptions {
	background-color: silver;
	border: 1px groove rgba(50,50,50,.5);
	box-shadow: 0px -2px 4px rgba(50,50,50,.25);
	
	background-image: linear-gradient(bottom, #939393 30%, #b4b4b4 95%);
	background-image: -o-linear-gradient(bottom, #939393 30%, #b4b4b4 95%);
	background-image: -moz-linear-gradient(bottom, #939393 30%, #b4b4b4 95%);
	background-image: -webkit-linear-gradient(bottom, #939393 30%, #b4b4b4 95%);
	background-image: -ms-linear-gradient(bottom, #939393 30%, #b4b4b4 95%);

	background-image: -webkit-gradient(
	linear,	left bottom, left top,
	color-stop(0.095, #b4b4b4),
	color-stop(0.30, #939393));
		
}

.service_subsection_secondary {
	width: 170px;
	float: left;
	padding:15px 0px 15px 25px;
	margin: 20px; 
}

.service_subsection_secondary h3{
	font: bold 1.15em 'ChunkFiveRegular', sans-serif;
	margin-bottom: 5px;
	text-transform: uppercase;
	color: #004b91;
	text-shadow: 0px 1px 0px #fff;
}

.service_subsection_secondary p {
	font: 1em Arial, Helvetica, sans-serif;
	color: #222;
	text-shadow: 0px 1px 0px rgba(255,255,255,.7);
}

.divider {
	border-left: 1px groove rgba(250,250,250,0.85);
}

/*================================= Footer ============================================*/

footer {
	box-shadow: 0px -1px 4px rgba(0,0,0, .6);
	height: 60px;
	overflow: auto;
	background: #313131;
	background: url('../images/footer_bg.jpg') repeat-x 0 0;
	color: #fff;
	font: .8em Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	width: 100%;
}


#footer_container {
	max-width: 910px;
	margin: 0 auto;
	padding-top: 20px;
}

#footer_nav_container {
	float: right;
	width: 60%;
	padding: 0;
	margin: 0;
}

#footer_nav {
	float: right;
	list-style: none;
}

#footer_nav ul li a{
	margin-left: 20px;
	padding: 0px;
}

#footer_nav li {
 	display:inline-block;
 	margin:5px 0px 0px 25px;
 	padding:0;
 	list-style:none;
}

#footer_nav li a:link{
	color: #fff;
	opacity: .5;
}

#footer_nav li a:visited{
	color: #fff;
	opacity: .5;

}

#footer_nav li a:hover{
	color: #fff;
		opacity: 1;
}

#footer_nav li a:active{
	color: #fff;
		opacity: .75;
}

#copyright {
	float: left;
	padding-top: 5px;
}



/*====================================== Form CSS ======================================*/



#form_container {
	background: rgba(1,108,165,.3);
	width: 90%; /*765px/910px*/;
	overflow: auto;
	border-radius: 16px;
	border: 1px solid #fff;
	box-shadow: 0px 2px 5px rgba(50,50,50,.5);
	padding: 3%;
	text-shadow: 0px 1px 0px #fff;
	margin: 0 auto 25px auto;
}

#form_header {
	font: 2em/1.5 "ShareRegular", "Share", Arial;
	color: #004B91;
	text-shadow: 1px 1px 0px #fff;
	padding-left: 2.5%;
}


/*=====================  Customer Service Agent Div ====================*/
section.cta {
	float: left;
	width: 43%;
	margin-left: 5%;
}

#agent_image_container {
	width: 100%;
	margin: 0 auto;
}

#agent_image {
	margin: 15px 0px 0px 3%;
}

#agent_image h3 {
	font: 1.5em/1.5 "ShareRegular", "Share", Arial;
}

#agent_image p {
	clear: left;
}

.cta img {
	max-width: 100%;
	border-radius: 5px;
	box-shadow: 1px 1px 5px #999;
}

/*=================== Form ===========================*/

section#form_seperator {
	width: 50%;
	float: left;
}

form#reservation_form {
	width: 100%;
	margin: auto;
	padding-left: 30px;
	font: 1.2em/1.4 'RopaSansRegular', 'Ropa Sans', Arial, sans-serif;
}

:invalid {
	background: #FFF2F2;
	border: 1px solid #BA0000;
}
:valid {
	background: #fff;
	border: 1px solid #67D669;
}

:required {
	background: #FFFFF0;
}

label {
	float: left;
	clear: left;
	color: #555;
	padding-top: 2%;
	font-size: 1.25em!important;
}

input {
	font: 1em/1.25 Arial, Helvetica, sans-serif;
}

.vehicle_selector label {
	float: left;
}

#vehicle {
	float: left;
	clear: left;
	margin-top: 25px;
}

#submit_button {
	margin-top: 25px;
	width: 150px;
	height: 50px;
}

.name label{
	float: left;
	clear: left;
}

.name input#name_first {
	width: 40%;
	float: left;
	display: inline;
	clear: left;
	
}

.name input#name_last {
	width: 40%;
	float: left;
	margin-left: 3.4642032%;
	
}

.email input {
	width: 84%;
	float: left;
	clear: left;
}

.phone input {
	width: 84%;
	float: left;
	clear: left;
}

.date_time label {
	float: left;
}

.date_time label#time_label {
	float: left;
	clear: none!important;
	margin-left: 15.0115473%;
}

.date_time input#datepicker{
	width: 40%;
	float: left;
	display: inline;
	clear: left;
}

.date_time input#pickup_time {
	width: 40%;
	float: left;
	margin-left: 15px;
	
}

.trip {
	float: left;
	clear: left;
	display: inline;
}

.trip input {
	display: inline;
	margin: 10px 10px 10px 0px;
	vertical-align: top;
}

.trip ul {
	margin: 5px 0px 0px 0px;
}

.trip ul li {
	display: inline-block;
	margin: 0 35px 0 0;
	list-style-type: none;
	list-style-position: inside;
}

.trip label {
	vertical-align: bottom;
	padding-left: 2px;
}

.locations label {
	float: left;
	clear: left;
}

.locations input {
	float: left;
	clear: left;
	width: 85%;
	
}

#from_to_suggestions {
	display: none;
}

#passenger_count input{
	float: left;
	clear: left;
	width: 40%;
}

#vehicle {
	float: left;
	width: 40%;
	font: .9em Arial, Helvetica, sans-serif;
}

#submit_button {
	float: left;
	clear: left;
	margin-bottom: 20px;
	display: inline-block;
	height: 40px;
	width: 30%;;
	text-align: center;
	text-transform: uppercase;
	padding: 5px;
	font: .75em Arial, Helvetica, sans-serif;
	color: #fff;
	text-shadow: 0px 1px 0px rgba(50,50,50,1);
	border: 1px solid rgba(50,50,50,.5);
	border-radius: 15px;
	text-decoration: none;
	background-color: #329334;
	background-image: linear-gradient(bottom, #20451C 7%, #329334 45%, #5BB1AB 95%);
	background-image: -o-linear-gradient(bottom, #20451C 7%, #329334 45%, #5BB1AB 95%);
	background-image: -moz-linear-gradient(bottom, #20451C 7%, #329334 45%, #5BB1AB 95%);
	background-image: -webkit-linear-gradient(bottom, #20451C 7%, #329334 45%, #5BB1AB 95%);
	background-image: -ms-linear-gradient(bottom, #20451C 7%, #329334 45%, #5BB1AB 95%);

	background-image: -webkit-gradient(
	linear,	left bottom, left top,
	color-stop(0.095, #20451C),
	color-stop(0.45, #329334),
	color-stop(0.77, #5BB1AB));
}

#submit_button:hover {
	box-shadow: 0px 0px 4px #20451C;
}

#submit_button:active {
	text-decoration: none;
	background-image: linear-gradient(top, #20451C 7%, #329334 45%, #5BB1AB 95%);
	background-image: -o-linear-gradient(top, #20451C 7%, #329334 45%, #5BB1AB 95%);
	background-image: -moz-linear-gradient(top, #20451C 7%, #329334 45%, #5BB1AB 95%);
	background-image: -webkit-linear-gradient(top, #20451C 7%, #329334 45%, #5BB1AB 95%);
	background-image: -ms-linear-gradient(top, #20451C 7%, #329334 45%, #5BB1AB 95%);

	background-image: -webkit-gradient(
	linear,	left top, left bottom,
	color-stop(0.095, #20451C),
	color-stop(0.45, #329334),
	color-stop(0.77, #5BB1AB));

}
	

/*=== End Form CSS ===*/

