/* Project CSS File */

@font-face {
    font-family: 'ChunkFiveRegular';
    src: url('../font/Chunkfive-webfont.eot');
    src: url('../font/Chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Chunkfive-webfont.woff') format('woff'),
         url('../font/Chunkfive-webfont.ttf') format('truetype'),
         url('../font/Chunkfive-webfont.svg#ChunkFiveRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	background: url('../images/bg.png') repeat-x;
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
	margin: 0;
}

#content_sep {
	height: 60px;
	background: url('../images/line-shadow-960.png') no-repeat 0 0;
	margin-top: 300px;
}

#content_sep p {
	position: relative;
	left: -9999px;
}

#wrapper {
	max-width: 960px;
	padding: 0 3.125%; /*(30/960px)*/
	margin: 0 auto;
	background: rgba(0,0,0, .25);
}


header {
	height: 75px;
	width: 100%;
}

#logo_container {
	width: 19.2307692%; /*175/910*/
	margin-top: 10px;
	float: left;
}

#logo img{
	max-width: 100%;
}


nav {
	height: 75px;
	float: right;
	width: 80.7692308%; /*735px/910px*/
	text-transform: uppercase;
}


nav ul li {
	display: block;
	float: left;
	list-style: none;
	font: 1.2em/1.5 'Share';
	margin-top: 10px;
	margin-left: 2.7210884%; /*20/735px*/
	text-shadow: 1px 1px 0px #999;
	opacity: .85;
	padding: 0px;
}

nav ul li:hover {
	opacity: 1;
	text-decoration: none;
	border-top: none;
	
}


nav li a:link {
	margin: 0 10px;
	padding-top: 2px;
	color: #fff;
	border-top: 1px groove rgba(255,255,255,.5);
	text-decoration: none;
}

nav li a:visited {
	color: #fff;
}

nav li a:hover {
	color: #fff;
	text-decoration: none;
	background: #0084ff;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border-top: none!important;
	padding: 2px 10px;
	margin: 0;
	
}

a:active {
	color: #f5f5f5;
}

#content {
	width: 100%;
	margin: 70px 0px;
}

#content h1 {
	color: #333;
	margin: 0;
	text-shadow: 0px 1px 0px #fff;
	font-family: 'ChunkFiveRegular';
}

footer {
	box-shadow: 0px -1px 4px rgba(0,0,0, .6);
	height: 60px;
	overflow: visible;
	background: #313131;
	background: url('../images/footer_bg.jpg') repeat-x 0 0;
	color: #fff;
	font: .8em Arial, Helvetica, sans-serif;
}

#footer_container {
	max-width: 960px;
	margin: 0 auto;
	padding: 0
}

#footer_nav {
	float: right;
	list-style: none;
	width: 45%;
}

#footer_nav li {
 	display:inline-block;
 	margin:5px 0px 0px 15px;
 	padding:0;
 	list-style:none;
}

#footer_nav li a:link{
	color: #fff;
		opacity: .5;
}

#footer_nav li a:visited{
	color: #fff;

}

#footer_nav li a:hover{
	color: #fff;
		opacity: 1;
}

#footer_nav li a:active{
	color: #fff;
		opacity: .75;
}

#copyright {
	float: left;
	padding-top: 5px;
}
