#rates_content {
	width: 100%;
	overflow: auto;
}

.rates_image_container {
	float: left;
	width: 45%;
	margin: 25px 0 25px 20px;
	border-radius: 16px;
	-moz-border-radius: 16px;
	-webkit-border-radius: 16px;
	-o-border-radius: 16px;
}

.rates_image_container img {
	max-width: 100%;
	box-shadow: 2px 2px 5px #000;
}

.specials_image_container {
	margin: 25px;
	width: 92%;
}

.specials_image_container img{
	max-width: 100%;
	box-shadow: 2px 2px 5px #000;
}
